<!DOCTYPE html>
<html lang="en"> 
<head> 
<meta charset="utf-8" /> 
<title>Conference Twitter Wall</title> 
<link rel="stylesheet" type="text/css" href="app/screen.css">

<!-- make your customisations to the twitter wall using the custom.css -->
<link rel="stylesheet" type="text/css" href="custom.css">
</head> 
<body class="hflex-wrapper">

  <div id="twitterwall"> 
    <ul id="tweets"></ul> 
  </div> 

  <script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 48px; width: 48px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong> 
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script> 
  <script src="app/js/jquery.min.js"></script> 
  <script src="app/js/app.js"></script>
</body> 
</html> 
 
 
 
 
 
 
 
