.hide {
    display: none
}

.show {
    display: block
}

.invisible {
    visibility: hidden
}

.container {
    position: relative
}

.container ul {
    list-style: none;
}

.menu {
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    margin: 0 0 0 155px;
    padding: 0;
}

.menu-h li {
    float: left
}

.countdown {
    margin-top: 30px
}

.clear {
    clear: both
}

#countdown {
    margin: 0 auto
}

#countdown p {
    text-align: left;
    margin-left: 10px
}

#countdown li {
    text-align: center;
    margin: 0 155px 0 0;
    font-size: 36px;
}

#countdown span {
    display: block;
    font-weight: bold;
    font-size: 200px;
    line-height: 1;
    padding-bottom: 5px;
    border-bottom: 5px solid #0081c6;
    margin-bottom: 5px
}

#countdown #hours {
    border-color: #d94a3f
}

#countdown #minutes {
    border-color: #f9c53a
}

#countdown #seconds {
    border-color: #05974f
}

.carousel {
    margin: 0 auto
}

.carousel .carousel-control {
    display: none
}