body {
    padding-top: 40px;
}

body .navbar {
    min-height: 40px;
}

.navbar .navbar-brand {
    padding: 10px;
    color: #ffffff;
}
.navbar .navbar-text {
    margin-top: 7px;
    margin-bottom: 7px;
}
@media (max-width: 768px) {
    .navbar .navbar-text {
        width: 90%;
    }
    .navbar .navbar-form {
        margin: 0;
    }
}
@media (max-width: 768px) {
    .navbar .navbar-brand {
        padding: 15px;
    }
}

.nav > li > a.g-signin {
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.achievement-detail h1 {
    text-align: left;
}

.achievement-detail img {
    width: 230px;
    margin: auto;
}

.achievement-detail p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .achievement-detail h1 {
        text-align: center;
    }
}

p.bigger {
    font-size: 16px;
}

.profile-photo {
    width: 40px;
}

.leaderboard > tbody > tr > td {
    vertical-align: middle;
}

.table-profil td {
    padding: 2px 5px;
}

footer {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#3c3c3c), to(#222));
    background-image: -webkit-linear-gradient(top, #3c3c3c, 0%, #222, 100%);
    background-image: -moz-linear-gradient(top, #3c3c3c 0, #222 100%);
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);

    color: #CCC;
    font-size: 13px;
    padding: 12px 0;
}

footer a, footer a:hover {
    color: #CCC;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer p {
    font-size: 12px;
    margin: 0;
}

footer .copyright {
    text-align: center;
}

.achievement {
    margin-bottom: 30px;
    min-height: 308px;
    text-align: center;
}

.achievement-unlocked {
    background: rgba(5, 155, 80, 0.20);
}

.achievement-locked {
    background: #eeeeee;
}

.achievement-public {
    background: #eeeeee;
    min-height: 284px;
}

.btn-achievement-unlocked {
    position: absolute;
    bottom: 45px;
    right: 30px;
}

.btn-achievement-locked {
    position: absolute;
    bottom: 45px;
    right: 30px;
}

/** Panel BLUE
*   a = #85c9ed tmavsi
*   b = #b0dcf4 svetlejsi
*   c = #0081c6 text
*/
.panel-blue {
    border-color: #85c9ed; /*a*/
}

.panel-blue > .panel-heading {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#b0dcf4), to(#85c9ed)); /*b  a*/
    background-image: -webkit-linear-gradient(top, #b0dcf4, 0%, #85c9ed, 100%); /*b  a*/
    background-image: -moz-linear-gradient(top, #b0dcf4 0, #85c9ed 100%); /*b  a*/
    background-image: linear-gradient(to bottom, #b0dcf4 0, #85c9ed 100%); /*b  a*/
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb0dcf4', endColorstr='#ff85c9ed', GradientType=0); /*ffb  ffa*/

    color: #000; /*c*/
    background-color: #b0dcf4; /*b*/
    border-color: #85c9ed; /*a*/
}

/** Panel RED
*   a = #db928d tmavsi
*   b = #efaaa5 svetlejsi
*   c = #d94a3f text
*/
.panel-red {
    border-color: #db928d; /*a*/
}

.panel-red > .panel-heading {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#efaaa5), to(#db928d)); /*b  a*/
    background-image: -webkit-linear-gradient(top, #efaaa5, 0%, #db928d, 100%); /*b  a*/
    background-image: -moz-linear-gradient(top, #efaaa5 0, #db928d 100%); /*b  a*/
    background-image: linear-gradient(to bottom, #efaaa5 0, #db928d 100%); /*b  a*/
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefaaa5', endColorstr='#ffdb928d', GradientType=0); /*ffb  ffa*/

    color: #000; /*c*/
    background-color: #efaaa5; /*b*/
    border-color: #db928d; /*a*/
}

#hash {
    /*width: 1000px;*/
    height: 35px;
    color: #d3d3d3;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    margin: -35px auto 0 auto;
    width: auto;
    position: relative;
    overflow: hidden;
}

#shem {
    /*width: 1000px;*/
    height: 65px;
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin: -65px auto 0 auto;
    width: auto;
    position: relative;
    overflow: hidden;
}

.hash-letter {
    position: relative;
}

.letter-placeholder {
    position: absolute;
}

@media (max-width: 768px) {
    #hash {
        font-size: 15px;
        height: 27px;
        margin-top: -27px;
    }

    #shem {
        font-size: 20px;
        height: 50px;
        margin-top: -50px;
    }
}

@media (max-width: 600px) {
    #hash {
        font-size: 10px;
        height: 20px;
        margin-top: -20px;
    }

    #shem {
        font-size: 13px;
        height: 35px;
        margin-top: -35px;
    }
}

@media (max-width: 480px) {
    #hash {
        font-size: 5px;
        height: 10px;
        margin-top: -10px;
    }

    #shem {
        font-size: 8px;
        height: 20px;
        margin-top: -20px;
    }
}

.totalcenter {
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%
}

@media (max-width: 1024px) {
    .totalcenter {
        width: 1024px;
        height: 768px;
        margin: -384px 0 0 -512px;
    }
}

@media (min-width: 1025px) {
    .totalcenter {
        width: 1280px;
        height: 768px;
        margin: -384px 0 0 -640px;
    }
}

@media (min-height: 769px) {
    .totalcenter {
        width: 1280px;
        height: 768px;
        margin: -384px 0 0 -640px;
        zoom: 1.405;
        /*-webkit-transform: scale(1.405);*/
    }
}

@media (max-height: 768px) {
    .totalcenter {
        position: inherit;
        width: auto;
        height: auto;
        margin: 0 auto;
    }
}
/* Naseptavac v navbaru */
.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
  .navbar-form {
    margin-top: 3px;
    margin-bottom: 3px;
     margin-right: -10px;
  }
  .navbar-form .btn {
    height: 32px;
    margin-top: -2px;
  }
  .ui-autocomplete {
    font-size: 12px;
    z-index: 1050;
  }

  .text-offset {
    display: block;
    margin-left: 20px;
  }
  .text-title {
    font-style: italic;
    font-weight: bold;
  }