AuthUserFile /home/custom/i/inmite/web/mdevgame.inmite.eu/break/.htpasswd
AuthGroupFile /dev/null
AuthName "Pristup k mDevCamp 2014 BreakWall"
AuthType Basic

require valid-user

# URL rewriting module activation
RewriteEngine on

# URL rewriting rules

RewriteRule ^(leaderboard-single)$ slides/leaderboard-single.php [L,E]
#RewriteRule ^(promo)$ slides/promo.php [L,E]
#RewriteRule ^(countdown)$ slides/countdown.php [L,E,QSA]
RewriteRule ^(partneri)-([0-9]*)$ slides/partneri.php?part=$2 [L,E,QSA]
#RewriteRule ^(twtwall)-([0-9]*)$ twtwall/index.php?id=$2 [L,E,QSA]
RewriteRule ^(twitterwall)$ slides/twitterwall.php [L,E]