# URL rewriting module activation
RewriteEngine on

# URL rewriting rules
RewriteCond %{HTTP_HOST} ^quest.devfest.cz
RewriteRule ^(.*)$ http://break.devfest.cz/$1 [R=301,QSA]

RewriteRule ^(leaderboard-single)$ slides/leaderboard-single.php [L,E]
RewriteRule ^(promo)$ slides/promo.php [L,E]
RewriteRule ^(countdown)$ slides/countdown.php [L,E,QSA]
RewriteRule ^(partneri)-([0-9]*)$ slides/partneri.php?part=$2 [L,E,QSA]