AuthUserFile /var/www/html/game.devfest.cz/break/.htpasswd
AuthGroupFile /dev/null
AuthName "Pristup k DevFest Praha 2013 TEST API"
AuthType Basic

<Files "test.php">
    require valid-user
</Files>

# URL rewriting module activation
RewriteEngine on

# URL rewriting rules
RewriteRule ^(leaderboard)$ index.php [L,E]
RewriteRule ^(o-hre)$ o-hre.php [L,E]
RewriteRule ^(achievements)$ achievements.php [L,E]
RewriteRule ^(achievement)-([0-9]*)$ achievement_detail.php?id=$2 [L,E,QSA]

RewriteRule ^(demo)$ http://break.devfest.cz/ [R=301,QSA]